* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(32, 32, 32);
    color: rgba(0, 77, 128, 0.671);
    text-align: center;
    font-size: 75px;
    line-height: 2;
    font-family: Georgia, "Times New Roman", sans-serif;
    height: 200px;
    width: 50%;
    padding: 10px;
    border: 10px solid rgba(0, 77, 128, 0.671);
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

body {
    background-color: rgba(42, 42, 42, 0.621);
} 

ul,
ol,
p {
    line-height: 1.5;
    font-size: 26px;
    text-align: center;
    list-style-position: inside;
}

.mac,
.lamb,
.pita { 
    border: 5px solid rgba(0, 50, 74, 0.899);
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    height: auto;
    width: 40%;
    background-color: rgba(42, 42, 42, 0.255);
    list-style: none;
}

.desc,
.ingr,
.dir {
    border: 10px solid rgba(0, 50, 74, 0.899);
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    height: auto;
    width: 60%;
    background-color: rgba(42, 42, 42, 0.255);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: auto;
    margin-bottom: 50px;
    border: 5px solid rgba(0, 50, 74, 0.899);
}

h2 {
    text-align: center;
    font-size: 40px;
    color: rgba(0, 50, 74, 0.899);
}

/* links */

a:link {
    color: rgba(0, 85, 128, 0.671);
    text-decoration: none;
}

a:visited {
    color: rgba(0, 85, 128, 0.671);
}

a:hover {
    color: rgba(0, 255, 255, 0.45);
}

a:active {
    color: rgba(0, 255, 208, 0.45);
}

